:root {
  --color-fill-primary: hsla(0, 0%, 0%, 0.1);
  --color-fill-secondary: hsla(0, 0%, 0%, 0.08);
  --color-fill-tertiary: hsla(0, 0%, 0%, 0.05);
  --color-fill-quaternary: hsla(0, 0%, 0%, 0.03);
}

@media (prefers-color-scheme: dark) {
  :root {
  --color-fill-primary: hsla(0, 0%, 100%, 0.1);
  --color-fill-secondary: hsla(0, 0%, 100%, 0.08);
  --color-fill-tertiary: hsla(0, 0%, 100%, 0.05);
  --color-fill-quaternary: hsla(0, 0%, 100%, 0.03);
  }
}
