/* Labels */
:root {
  --color-label-primary: hsla(0, 0%, 0%, 0.85);
  --color-label-secondary: hsla(0, 0%, 0%, 0.5);
  --color-label-tertiary: hsla(0, 0%, 0%, 0.25);
  --color-label-quaternary: hsla(0, 0%, 0%, 0.05);
  --color-label-white: hsla(0, 0%, 100%);
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-label-primary: hsla(0, 0%, 100%, 0.85);
    --color-label-secondary: hsla(0, 0%, 100%, 0.5);
    --color-label-tertiary: hsla(0, 0%, 100%, 0.25);
    --color-label-quaternary: hsla(0, 0%, 100%, 0.05);
    --color-label-white: hsla(0, 0%, 100%);
  }
}
