:root {
  --color-material-ultrathick:	hsla(0, 0%, 96%, 0.84);
  --color-material-thick:	hsla(0, 0%, 96%, 0.72);
  --color-material-medium:	hsla(0, 0%, 96%, 0.6);
  --color-material-thin:	hsla(0, 0%, 96%, 0.48);
  --color-material-ultrathin:	hsla(0, 0%, 96%, 0.36);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-material-ultrathick:	hsla(0, 0%, 16%, 0.84);
    --color-material-thick:	hsla(0, 0%, 16%, 0.72);
    --color-material-medium:	hsla(0, 0%, 16%, 0.6);
    --color-material-thin:	hsla(0, 0%, 16%, 0.48);
    --color-material-ultrathin: hsla(0, 0%, 16%, 0.36);
  }
}
