:root {
  --color-separator-vibrant: hsla(240, 6%, 25%, 0.29);
  --color-separator-opaque: hsla(240, 2%, 78%);
  --color-separator-nonopaque: hsla(240, 1%, 33%, 0.34);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-separator-vibrant: hsla(240, 2%, 25%);
    --color-separator-opaque: hsla(240, 2%, 22%);
    --color-separator-nonopaque: hsla(240, 1%, 33%, 0.60);
  }
}
