/* System Colors */
:root {
  --color-system-red: hsl(359, 100%, 61%);
  --color-system-orange: hsl(28, 100%, 58%);
  --color-system-yellow: 	hsl(48, 100%, 50%);
  --color-system-green: hsl(135, 59%, 49%);
  --color-system-mint: 	hsl(174, 100%, 39%);
  --color-system-teal: hsl(184, 100%, 41%);
  --color-system-cyan: 	hsl(190, 100%, 45%);
  --color-system-blue: hsl(208, 100%, 50%);
  --color-system-indigo: 	hsl(245, 89%, 65%);
  --color-system-purple: 	hsl(293, 74%, 53%);
  --color-system-pink: 	hsl(349, 100%, 59%);
  --color-system-brown: hsl(25, 32%, 52%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-system-red: hsl(359, 100%, 63%);
    --color-system-orange: 	hsl(28, 100%, 59%);
    --color-system-yellow: hsl(50, 100%, 50%);
    --color-system-green:	hsl(135, 64%, 50%);
    --color-system-mint: hsl(174, 100%, 43%);
    --color-system-teal: hsl(184, 100%, 44%);
    --color-system-cyan: hsl(193, 99%, 62%);
    --color-system-blue: hsl(206, 100%, 50%);
    --color-system-indigo:	hsl(234, 100%, 71%);
    --color-system-purple: 	hsl(293, 88%, 58%);
    --color-system-pink: 	hsl(348, 100%, 61%);
    --color-system-brown: 	hsl(27, 36%, 56%);
  }
}
